#draggable{width: 150px; height: 150px; padding:10px; background-color: red; display: inline-block; cursor: pointer; margin:5px;}
#draggable p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable1{width: 150px; height: 150px; padding:10px; background-color: black; display: inline-block; cursor: pointer; margin:5px;}
#draggable1 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable2{width: 150px; height: 150px; padding:10px; background-color: green; display: inline-block; cursor: pointer; margin:5px;}
#draggable2 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable3{width: 150px; height: 150px; padding:10px; background-color: blue; display: inline-block; cursor: pointer; margin:5px;}
#draggable3 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable4{width: 150px; height: 150px; padding:10px; background-color: red; display: inline-block; cursor: pointer; margin:5px;}
#draggable4 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable5{width: 150px; height: 150px; padding:10px; background-color: black; display: inline-block; cursor: pointer; margin:5px;}
#draggable5 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable6{width: 150px; height: 150px; padding:10px; background-color: green; display: inline-block; cursor: pointer; margin:5px;}
#draggable6 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable7{width: 150px; height: 150px; padding:10px; background-color: orange; display: inline-block; cursor: pointer; margin:5px;}
#draggable7 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable8{width: 150px; height: 150px; padding:10px; background-color: red; display: inline-block; cursor: pointer; margin:5px;}
#draggable8 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable9{width: 150px; height: 150px; padding:10px; background-color: black; display: inline-block; cursor: pointer; margin:5px;}
#draggable9 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable10{width: 150px; height: 150px; padding:10px; background-color: green; display: inline-block; cursor: pointer; margin:5px;}
#draggable10 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable11{width: 150px; height: 150px; padding:10px; background-color: blue; display: inline-block; cursor: pointer; margin:5px;}
#draggable11 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable12{width: 150px; height: 150px; padding:10px; background-color: red; display: inline-block; cursor: pointer; margin:5px;}
#draggable12 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable13{width: 150px; height: 150px; padding:10px; background-color: black; display: inline-block; cursor: pointer; margin:5px;}
#draggable13 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable14{width: 150px; height: 150px; padding:10px; background-color: green; display: inline-block; cursor: pointer; margin:5px;}
#draggable14 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable15{width: 150px; height: 150px; padding:10px; background-color: orange; display: inline-block; cursor: pointer; margin:5px;}
#draggable15 p{font-size: 50px; color:#fff; font-weight: bold;}

#draggable16{width: 150px; height: 150px; padding:10px; background-color: blue; display: inline-block; cursor: pointer; margin:5px;}
#draggable16 p{font-size: 50px; color:#fff; font-weight: bold;}